$bgColor: rgb(33, 35, 46);
$logoTopTextColor: rgb(255, 255, 255);
$mainBg: url(../img/m-h-night.jpg);
$fontColor: #fff;
$spanColor: #ff4e33;
$cardBg: #3b3f50;
$bannerHeadingColor: rgb(255, 255, 255);
$footerBg: #3b3f50;
$footerFontColor: #fff;
$btnColor: rgb(227, 172, 0);
$bannerColor: linear-gradient(to right, #dea505 0%, #963150 100%);
