$bgColor: #fff;
$logoTopTextColor: rgb(0, 0, 0);
$mainBg: url(../img/m-h-day.jpg);
$fontColor: rgb(0, 0, 0);
$spanColor: #14a0c7;
$cardBg: #21232e;
$bannerHeadingColor: rgb(0, 0, 0);
$footerBg: #21232e;
$footerFontColor: #fff;
$btnColor: #699900;
$bannerColor: linear-gradient(to right, #679708 0%, #315fcc 100%);
